nav {
    margin-top: 15px;
    margin-left: 11%;
}

a {
    display: inline;
    padding: 8px;
    margin: 15px;
    background-color: #dddddd;
    text-decoration: none;
  }
.carta {
    margin: auto;
    width: 75%;
    padding: 10px;
}